body {
    background-color: #F0F8FF;
}

.center-container {
    align-items: center;
    display: flex;
    height: 500px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 110px;
    width: 500px;
}

.add-container {
    align-items: center;
    background-color: #DDEFFF;
    border: 2px solid #C9E6FF;
    border-radius: 100px;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
}

.add-svg {
    height: 150px;
    width: 150px;
}

.plus-svg {
    height: 150;
    width: 150px;
}

.add-svg:hover {
    animation: spin 3s infinite;
    cursor: pointer;
}

.form-container {
    background-color: #DDEFFF;
    border: 3px solid #C9E6FF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 300px;
    padding: 10px;
    width: 750px;
}

.img-container {
    background-color: aqua;
    height: 300px;
    max-width: 100%;
    width: 60%;
}

.item-image {
    height: 230px;
    position: relative;
    top: 20px;
    width: 100%;
}

.input-container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start safe;
    height: 280px;
    padding: 10px;
    width: 100%;
}

input[type="text"] {
    background-color: #FBFBFB;
    border: 1px solid #FBFBFB;
    border-radius: 10px;
    font-family: "Inter";
    font-size: 14px;
    padding-left: 5px;
}

.item-name, .item-category {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 25px;
    width: 450px;
}

.stocks, .price {
    height: 30px;
    margin-top: 5px;
    width: 209px;
}

.stocks {
    margin-right: 20px;
}

.add-product-btn {
    background-color: #FBFBFB;
    border: 1px solid #FBFBFB;
    border-radius: 10px;
    font-family: "Inter";
    font-size: 14px;
    height: 30px;
    margin-top: 50px;
    width: 458px;
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    50% {transform: rotate(180deg); }
    100% {transform: rotate(360deg); }
}