body {
    background-color: #F0F8FF;
}

.center-container {
    align-items: center;
    display: flex;
    height: 500px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 110px;
    width: 500px;
}

.add-container {
    align-items: center;
    background-color: #DDEFFF;
    border: 2px solid #C9E6FF;
    border-radius: 100px;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
}

.add-svg {
    height: 150px;
    width: 150px;
}

.plus-svg {
    height: 150;
    width: 150px;
}

.add-svg:hover {
    animation: spin 3s infinite;
    cursor: pointer;
}

.form-container {
    background-color: #DDEFFF;
    border: 3px solid #C9E6FF;
    border-radius: 10px;
    height: 300px;
    width: 600px;
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    50% {transform: rotate(180deg); }
    100% {transform: rotate(360deg); }
}