<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Inventory</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="center-container">
        <div class="add-container">
            <svg class="add-svg">
                <image class="plus-svg" href="/static/img/plus.svg"/>
            </svg>
        </div>
    </div>
    <div class="form-container">
    </div>
</body>
</html>